/* Base
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', YuGothic, 'Droid Sans', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', Arial, sans-serif;
	font-size: 62.5%;
}

body {
	line-height: 1.6;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	color: #171717;
	-ms-hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
table {
	margin-top: 0;
}

img {
	max-width: 100%;
	height: auto;
}

i {
	margin-right: 5px;
}

/* Text
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#page {
	font-size: 14px;
	font-size: 1.4rem;
}

#media-nav-box {
	font-size: 12px;
	font-size: 1.2rem;
}

#global-nav-box {
	font-size: 16px;
	font-size: 1.6rem;
}

.entry-content {
	font-size: 15px;
	font-size: 1.5rem;
}

/* link color
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Layout
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Header
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#masthead {
	position: relative;
	z-index: 2;
	padding: 11px 0;
	background: #1a293c;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
	box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

#masthead .site-title {
	margin: 0;
}

#masthead .site-title a {
	display: block;
	width: 184px;
	height: 34px;
	margin: 0 auto;
}

#masthead .site-title img {
	display: block;
}

#global-menu {
	position: relative;
	z-index: 1;
	background: #f9c414;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
	box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

#global-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#global-menu .menu > li {
	float: left;
}

#global-menu .sub-menu > li {
	display: none;
}

#global-menu a {
	color: #fff;
}

/* Common
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* HOME
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Archive
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Single
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Page
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Footer
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Other
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*
 * WordPress Core
 * http://codex.wordpress.org/CSS
 */

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.wp-caption {
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
	border: 1px solid #f0f0f0;
	background: #fff;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	width: auto;
	max-width: 98.5%;
	height: auto;
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

#global-menu ul:after {
	display: table;
	clear: both;
	content: '';
}
