<a href="/archives/category/my-news">カテゴリー</a>
<a href="/archives/tag/test">タグ</a>
<a href="/archives/1">シングル</a>
<a href="/sample-page">ページ</a>

single
<article>
	<p>ID:{{mak_post.post_id}}</p>
	<p>Author ID:{{mak_post.author_id}}</p>
	<p>Author Avatar:{{mak_post.author_avatar}}</p>
	<p>Author Description:{{mak_post.author_description}}</p>
	<p>Author Name:{{mak_post.author_name}}</p>
	<p>Content:{{mak_post.post_content}}</p>
	<p>Date:{{mak_post.post_date}}</p>
	<p>Excerpt:{{mak_post.post_excerpt}}</p>
	<p>has_thumbnail:{{mak_post.has_thumbnail}}</p>
	<p>Attachment ID:{{mak_post.thumbnail_id}}</p>
	<p>Attachment Height:{{mak_post.thumbnail_height}}</p>
	<p>Attachment Url:{{mak_post.thumbnail_url}}</p>
	<p>Attachment Width:{{mak_post.thumbnail_width}}</p>
	<p>Thumbnail Title:{{mak_post.thumbnail_title}}</p>
	<p>Title:{{mak_post.post_title}}</p>
	<p>Link:{{mak_post.permalink}}</p>
</article>
